*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e4e0e0;
  color: white;
  background: black;
  font-family: "Google Sans", sans-serif;
}

#Heading{
  text-align: center;
  margin: 20px 0;
  background: linear-gradient(to right, blue, red);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#addUserSection{
  color: black;
  margin-left: 5vw;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

#addUserSectionInput input{
  border: none;
  height: 25px;
  font-size: 16px;
  border-radius: 2px;
  padding-left: 10px;
  background-color: #fff;
  border: 1.5px solid rgb(190, 189, 189);
}

#addUserSectionInput input:focus{
  outline: none;
}

input{
  border: none;
  height: 25px;
  font-size: 16px;
  border-radius: 2px;
  padding-left: 10px;
  background-color: #fff;
  border: 1.5px solid rgb(190, 189, 189);
}
button{
  background-color: rgb(68, 68, 248);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(56, 56, 190);
  transform: translateY(1px);
}
input:focus{
  outline: none;
}

#addUserSectionInput button{
  background-color: rgb(68, 68, 248);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
}


#editButton{
  background-color:rgb(225, 11, 129);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  margin-left: 20px;
  cursor: pointer;
}
#editButton:hover{
  background-color: rgb(174, 14, 88);
  transform: translateY(-1px);
}

#addUserSectionInput button:hover{
  cursor: pointer;
}

#inputField{
  margin:30px 0;
  padding-left: 5vw;
  width: 100vw;
}
#formSection{
  margin: 15px 0;
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  gap: 20px;
}
#selectInput{
  font-size: 16px;
  color: black;
  background-color: white;
}

.styled-table{
  margin: 20px 0;
  padding: 10px 30px;
  width: 80vw;
  border-collapse: collapse;
}
.styled-table thead th{
  background-color: #8d06c6;
  color: white;
}
.styled-table tbody tr td{
  background-color: #f9f5f5;
  height: 30px;
  padding:0 10px;
  color: #000;
  border-bottom: 1px solid rgb(206, 205, 205);
}
.styled-table tbody tr:nth-child(even) {
  background-color: #cccbcb;
}


#Table{
  width: 100vw;
  height: 100%;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clearAll{
  margin-left: 5vw;
  margin-top: 0px;
  margin-bottom: 20px;
}

#calculation{
  padding-left: 5vw;
}
#userName{
  font-weight: 700;
}
#result{
  margin: 10px 20px;
  background-color:rgb(133, 31, 31);
}
#userPositive{
  color: green;
  font-weight: 500;
}
#userNegative{
  color: red;
  font-weight: 500;
}